/* ContactUs.css */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #f2f3ae, #98b36322 60%);
  }
  
  .contact-form {
    background: #ffffff;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
  }
  
  .contact-form h2 {
    margin-bottom: 30px;
    color: #090909;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .form-group {
    margin-bottom: 25px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 10px;
    color:
  }